#Python
*.pyc
*~
__pycache__

#ENV
.env
venv/

#Database
db.sqlite3

#Static folder at project root
/static/

#visual studio
.vscode/
.history/
*.code-workspace

bc6d561982ecd7f762e1a4692ed64027f4d9783e
