<!DOCTYPE html>
<html>
    <head>
        <title>My Blog</title>
    </head>
<body>
   <header>
       <h1><a href="/">My Blog</a></h1>
   </header>

   <article>
        <time>published: 6/13/2022</time>
        <h2><a href="">My first post</a></h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium dolores praesentium assumenda consectetur, nulla eligendi earum amet, officia, consequuntur eius vero mollitia nemo obcaecati deleniti.</p>
   </article>

   <article>
       <time>published: 6/14/2022</time>
       <h2><a href="">My second post</a></h2>
       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet aliquid ipsum tempora laudantium voluptate similique error maiores delectus ad natus! Delectus deleniti praesentium vel saepe.</p>
       
   </article>
</body>
</html>